<div class='wrapper'>

    <div class='image'>
        <img src='/assets/images/burger-clipart-13.png' alt='burger' width='100px'>
    </div>

    <h1>Eat Da Burger!</h1>

    <div class='burgers'>
        {{!-- Burgers that have not been devoured --}}
        <div class='not-devoured'>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        <li> 
                            <div class='name'>{{ id }}. {{ burger_name }}</div>
                            <button class='devour' data-id='{{ id }}'>Devour it!</button>
                        </li>
                    {{/unless}}
                {{/each }}
            </ul>
        </div>

        {{!-- Burgers that have been devoured --}}
        <div class='devoured-burgers'>
            <ul>
                {{#each burgers }}
                    {{#if devoured }}
                        <li>
                            <div class='name'>{{ id }}. {{ burger_name }}</div>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class='clear'></div>

    {{!-- Form to submit new burger --}}
    <div class='create'>
        <form>
            <textarea id='new-burger'></textarea>
            <br>
            <button id='submit-burger'>Submit</button>
            <p>Enter a burger you would like to eat and click the Submit button!</p>
        </form>
    </div>

</div>
