<h1>Eat Da Burger!</h1>

<img src='/assets/images/burger.jpg' alt='burger'>

{{!-- Burgers that have not been devoured --}}

<div class='not-devoured'>
    <h4>Burgers to be devoured</h4>
    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                <li>
                    {{ id }}. {{ burger_name }}
                    <button class='devour' data-id='{{ id }}'>Devour it!</button>
                </li>
            {{/unless}}
        {{/each }}
    </ul>
</div>

<div class='devoured-burgers'>
    <h4>Devoured burgers</h4>
    <ul>
        {{#each burgers }}
            {{#if devoured }}
                <li>
                    {{ id }}. {{ burger_name }}
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>

<form>
    <textarea id='new-burger'></textarea>
    <br>
    <button id='submit-burger'>Submit</button>
    <p>Enter a burger you would like to eat and click the Submit button!</p>
</form>
